In [1]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
import numpy as np
import pandas as pd

# Load dataset
df = pd.read_csv("https://raw.githubusercontent.com/Zitruism/DataScience-EA11/master/Dataset.csv", delimiter=";")
df

      Age  Income Student Credit_rating Buys_computer
0    <=30    High      No          Fair            No
1    <=30    High      No     Excellent            No
2   31…40    High      No          Fair           Yes
3     >40  Medium      No          Fair           Yes
4     >40     Low     Yes          Fair           Yes
5     >40     Low     Yes     Excellent            No
6   31…40     Low     Yes     Excellent           Yes
7    <=30  Medium      No          Fair            No
8    <=30     Low     Yes          Fair           Yes
9     >40  Medium     Yes          Fair           Yes
10   <=30  Medium     Yes     Excellent           Yes
11  31…40  Medium      No     Excellent           Yes
12  31…40    High     Yes          Fair           Yes
13    >40  Medium      No     Excellent            No
14   <=30  Medium      No     Excellent            No
15   <=30     Low      No          Fair            No
16   <=30     Low      No     Excellent            No
17  31…40     Low     Yes          Fair           Yes
18    >40  Medium     Yes     Excellent           Yes
19  31…40    High      No     Excellent           Yes

In [13]:
# Replace string with numerical values since the function won't accept strings.
df = df.replace('<=30', 0)
df = df.replace('31…40', 1)
df = df.replace('>40', 2)
df = df.replace('No', 0)
df = df.replace('Yes', 1)
df = df.replace('Low', 0)
df = df.replace('Medium', 1)
df = df.replace('High', 2)
df = df.replace('Fair', 0)
df = df.replace('Excellent', 1)
df

    Age  Income  Student  Credit_rating  Buys_computer
0     0       2        0              0              0
1     0       2        0              1              0
2     1       2        0              0              1
3     2       1        0              0              1
4     2       0        1              0              1
5     2       0        1              1              0
6     1       0        1              1              1
7     0       1        0              0              0
8     0       0        1              0              1
9     2       1        1              0              1
10    0       1        1              1              1
11    1       1        0              1              1
12    1       2        1              0              1
13    2       1        0              1              0
14    0       1        0              1              0
15    0       0        0              0              0
16    0       0        0              1              0
17    1       0        1              0              1
18    2       1        1              1              1
19    1       2        0              1              1

In [14]:
feature_cols = ['Age','Income','Student','Credit_rating']



X = df[feature_cols]
y = df.Buys_computer
 
tree_clf = DecisionTreeClassifier(max_depth=4)
tree_clf.fit(X, y)

DecisionTreeClassifier(max_depth=4)

In [23]:
# Export graphdata into file
from sklearn.tree import export_graphviz
 
export_graphviz(
         tree_clf,
         out_file="tree.dot",
         feature_names=feature_cols,
         rounded=True,
         filled=True
 )